<form class="form-group" action="/triangle">
  <input id="side1" type="number" name="side1" class="form-control" placeholder="Side one length">
  <input id="side2" type="number" name="side2" class="form-control" placeholder="Side two length">
  <input id="side3" type="number" name="side3" class="form-control" placeholder="Side three length">
  <button type="submit">Do it!</button>
</form>
